<div class="mb-3">
    <label for="new-pin" class="form-label">{% if method == 'Update' %}New{% else %}Payment{% endif %} PIN:</label>
    <input type="password" class="form-control" id="new-pin" name="pin" maxlength=4 required>
    <div class="invalid-feedback">New PIN cannot be the same as old</div>
</div>
<div class="mb-3">
    <label for="confirm-new-pin" class="form-label">Confirm PIN:</label>
    <input type="password" class="form-control" id="confirm-new-pin" maxlength=4 name="confirm-new-pin" required>
    <div class="invalid-feedback">Both PIN must match</div>
</div>