
<div class="modal fade" id="transaction-pin-modal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
    
            <div class="modal-header">
                <h4 class="modal-title">Enter transaction pin</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <div class="modal-body">
                <input type="password" maxlength="4" id="pin" name="pin" class="form-control" required autofocus>
            </div>
    
            <div class="modal-footer">
                <button type="submit" class="btn btn-info custom-btn" id="deposit-submit-btn" data-bs-dismiss="modal">Deposit</button>
            </div>
    
        </div>
    </div>
  </div>