{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{ user|title }}'s profile{% endblock title %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 col-md-8">
                <img src="{{ user.profile.image.url }}" alt="Profile Image" class="card-img-top rounded-circle" style="width: 150px;">
                <div class="card-body">
                    <h2 class="card-title">{{ user.profile.first_name }} {{ user.profile.last_name }}</h2>
                    <div class="mt-4 d-flex justify-content-between align-items-start">
                        <h4 style="padding:20px 0">Account Balance:</h4> 
                        <h4 class="balance ">${{ user.profile.balance|floatformat:2 }}</h4>
                    </div>
                    <div class="mt-4 d-flex justify-content-between align-items-start">
                        <h4 style="padding:20px 0">Transaction PIN:</h4> 
                        <div class="d-flex align-items-center">
                            <h4 class="balance">●●●●</h4>
                            <span class="ms-3">
                                <button class="btn btn-outline-info custom-outline mt-3" data-bs-toggle="modal" data-bs-target="#pinModal">Change PIN</button>
                            </span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-info custom-outline mt-3" data-bs-toggle="modal" data-bs-target="#edit-profile-modal">
                    Edit Profile
                </button>
            
            </div>
        </div>
    </div>

    <!-- Change PIN Modal -->
    <div class="modal fade" id="pinModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change transaction PIN</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form action="" id="changePinForm" class="" data-api-url="{{ request.path }}">
                        {% csrf_token %}
                        <div class="mb-3 mt-3">
                            <label for="old-pin" class="form-label">Current PIN:</label>
                            <input type="password" class="form-control" id="old-pin" name="old-pin" maxlength=4 required autofocus>
                            <div class="invalid-feedback"></div>
                        </div>
                        {% include 'pin_form.html'  with method="Update" %}
                        <button type="submit" id="change-pin-btn" class="btn btn-outline-info custom-outline">Change PIN</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="pin-modal-cancel-btn" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Edit Profile Modal -->
    <div class="modal fade" id="edit-profile-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
        
                <div class="modal-header">
                    <h4 class="modal-title">Edit Profile</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
        
                <div class="modal-body">
                    <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {% include 'profile_form.html' %}
                        <input type="hidden" name="action" value="update">


                        <input type="submit" class="btn btn-outline-success custom-outline" value="Update">
                    </form>
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
        
            </div>
        </div>
    </div>

    <!-- Create Profile Modal -->
    <div class="modal fade" id="create-profile-modal" data-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Complete your Profile</h4>
                </div>
            
                <div class="modal-body">
                    <form id="create-profile-form" method="post" action="{{ request.path }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'profile_form.html' %}
                        {% include 'pin_form.html' %}
                        <input type="hidden" name="action" value="create">

                        <button type="submit" class="btn btn-outline-info custom-outline">Create Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if user.profile.newlyCreated %}
            $(function () {
                $('#create-profile-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                  });
                $("#create-profile-modal").modal("show");
            });
        {% endif %}
        
        

    </script>
{% endblock body %}