{% extends 'base.html' %}


{% block body %}
    <section class="recent-transactions">
        <h2>Transactions</h2>
        <ul class="transaction-list">
            {% for transaction in transactions %}
                <li onclick="window.location.href='{% url 'transaction_detail' transaction.id %}'" class="transaction-list">
                    <span class="transaction-type" data-alert=
                    {% if transaction.getAlert == "Transfer" %}
                        {% if transaction in received_transactions %}Credit{% else %}Debit{% endif %}
                    {% else %}
                        {{ transaction.getAlert }}
                    {% endif %}>
                        {{ transaction.type|title }}</span>
                    <span class="transaction-amount">${{ transaction.amount }}</span>
                </li>
            {% empty %}
                <li>Your recent transactions will appear here</li>
            {% endfor %}
        </ul>

        {% if is_paginated %}
            <div class="text-center">
                
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info custom-outline mb-4" href="?page=1" title="First page"><<</a>
                    <a class="btn btn-outline-info custom-outline mb-4" href="?page={{ page_obj.previous_page_number }}" title="Previous page"><</a>
                {% endif %}
                
                <!-- Loop through all the pages -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info custom-btn mb-4" href="?page={{ num }}">{{ num }}</a> 

                    <!-- This is basically checking if the number is with the range 2 <= num <= 2 -->
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:"3" %}
                        <a class="btn btn-outline-info custom-outline mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info custom-outline mb-4" href="?page={{ page_obj.next_page_number }}" title="Next page">></a>
                    <a class="btn btn-outline-info custom-outline mb-4" href="?page={{ page_obj.paginator.num_pages }}" title="Last page">>></a>

                {% endif %}
            </div>
        {% endif %}
        
    </section>
{% endblock body %}