{% extends 'base.html' %}


{% block body %}
    <section class="recent-transactions">
        <h2>Transactions</h2>
        <ul class="transaction-list">
            {% for transaction in transactions %}
                <li>
                    <span class="transaction-type" data-alert=
                    {% if transaction.getAlert == "Transfer" %}
                        {% if transaction in received_transactions %}Credit{% else %}Debit{% endif %}
                    {% else %}
                        {{ transaction.getAlert }}
                    {% endif %}>
                        {{ transaction.type|title }}</span>
                    <span class="transaction-amount">${{ transaction.amount }}</span>
                </li>
            {% empty %}
                <li>Your recent transactions will appear here</li>
            {% endfor %}
            
            {% comment %} <li>
                <span class="transaction-type">Withdrawal</span>
                <span class="transaction-amount">-$200</span>
            </li>
            <li>
                <span class="transaction-type">Transfer</span>
                <span class="transaction-amount">-$1000</span>
            </li> {% endcomment %}
            <!-- Add more transaction items here -->
        </ul>
    </section>
{% endblock body %}